<body>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                Add Book
            </div>

            <div class="border">
                Name<br>
                <input class="input" type="text"><br>
                Author<br>
                <input class="input" type="text"><br>
                Pages<br>
                <input class="input-num" type="number"><br>
                Price<br>
                <input class="input-num" type="number"><br>
            </div>
            <button class="button">Add</button>
        </div>
    </div>
</body>
